<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заголовок</title>
</head>
<body>
    <div>
        <nav>
            <a href="{% url 'goods:reload_index' %}">На главную</a>
        </nav>
        <hr>
    </div>
    <div>
        <h3>Выберите товар</h3>
        <form method="post">
            {% csrf_token %}

            {{ form.good_name.label_tag }} <br>
            {{ form.good_name }}
            {{ form.good_id }} <!-- скрытое -->

            <button type="submit">Сгенерировать QR-код</button>
        </form>

        <!-- Блок для автокомплита -->
        <div id="suggestions"></div>

        <script>
            const input = document.getElementById('good-input');
            const hiddenId = document.getElementById('id_good_id'); // Django добавляет "id_" к имени поля
            const suggestions = document.getElementById('suggestions');

            input.addEventListener('input', async () => {
              const q = input.value.trim();
              if (!q) { suggestions.style.display='none'; return; }

              const response = await fetch(`/goods/autocomplete/?q=${encodeURIComponent(q)}`);
              const items = await response.json();

              if (!items || items.length === 0) { suggestions.style.display='none'; return; }

              suggestions.innerHTML = items.map(i => `<div data-id="${i.ID}">${i.NAME}</div>`).join('');
              suggestions.style.display = 'block';

              const rect = input.getBoundingClientRect();
              suggestions.style.left = rect.left + 'px';
              suggestions.style.top = (rect.bottom + window.scrollY) + 'px';
              suggestions.style.width = rect.width + 'px';
            });

            suggestions.addEventListener('click', e => {
              if (e.target.tagName === 'DIV') {
                input.value = e.target.textContent;
                hiddenId.value = e.target.dataset.id;
                suggestions.style.display = 'none';
              }
            });

            // Закрыть подсказки если клик вне
            document.addEventListener('click', (e) => {
              if (!suggestions.contains(e.target) && e.target !== input) {
                suggestions.style.display = 'none';
              }
            });
        </script>

<!--        <h2>Ваши товары</h2>-->
<!--        {% for good in goods_list_of_names %}-->
<!--            {{ good }} <br>-->
<!--        {% endfor %}-->
<!--        <hr>-->
<!--        Инфа о полях: <br>-->
<!--        {% for item, value in goods_fields_info.items %}-->
<!--            {{ item }} - {{value}} <br>-->
<!--        {% endfor %}-->
<!--        <hr>-->
<!--        Инфа о товарах-->
<!--        {% for good_info in goods_list_info %}-->
<!--            {{ good_info }} <br>-->
<!--        {% endfor %}-->
    </div>
</body>
</html>