<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <nav><a href="{% url 'main:reload_index' %}">На главную</a></nav>
        <hr>
    </div>
    <h2>Импорт и экспорт контактов</h2>
    <p>Загрузите свой файл с контактами и они будут добавлены или получите файл с имеющимися контактами</p>
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Загрузить</button>
    </form>
    <a href="{% url 'contacts:export_contacts' %}" class="btn btn-primary">Экспортировать контакты (в файл)</a>
</body>
</html>