<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1>Здравствуйте {{ user_name }}!</h1>
    <ul>
        <li><a href="/app1/">Приложение 1: Управление сделками</a></li>
        <li><a href="/app2/">Приложение 2</a></li>
        <li><a href="/app3/">Приложение 3</a></li>
        <li><a href="/app4/">Приложение 4</a></li>
        <li><a href="/app5/">Приложение 5</a></li>
    </ul>
</body>
<!--<script src="//api.bitrix24.com/api/v1/"></script>-->
</html>
