<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <script src="https://unpkg.com/@bitrix24/b24jssdk@latest/dist/umd/index.min.js"></script>-->
    <script src="https://api.bitrix24.com/api/v1/"></script>
</head>
<body>
    <div>
        <nav>
            <a href="{% url 'main:reload_index' %}">На главную</a>
        </nav>
        <hr>
    </div>
    <h2>Таблица сотрудников</h2>
    <table border="1" cellspacing="0" cellpadding="5">
        <thead>
            <tr>
                <th>Работник</th>
                <th>Отделы</th>
                <th>Начальники</th>
                <th>Количество исходящий звонков > 1 мин за последние 24 часа</th>
            </tr>
        </thead>
        <tbody>
            {% for user_id, info in result.items %}
            <tr>
                <td><span class="user-link" data-id="{{ user_id }}">{{ info.NAME }} {{ info.LAST_NAME }}</span></td>
                <td>
                    {% if info.DEPARTMENTS %}
                        {% for dep in info.DEPARTMENTS %}
                            {{ dep }}<br>
                        {% endfor %}
                    {% else %}
                        <em>нет данных</em>
                    {% endif %}
                </td>
                <td>
                    {% if info.CHIEFS %}
                        {% for chief in info.CHIEFS %}
                            {{ chief }} <br>
                        {% endfor %}
                    {% else %}
                        <em>—</em>
                    {% endif %}
                </td>
                <td>
                    {% if info.CALL_QUANT %}
                        {{ info.CALL_QUANT }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <style>
        span.user-link {
            cursor: pointer;
        }
        span.user-link:hover {
            color: #005bb5;
        }
    </style>

    <script>

        BX24.init(function() {
            document.querySelectorAll('.user-link').forEach(el => {
                el.addEventListener('click', () => {
                    const id = el.dataset.id;
                    if (id) {
                        BX24.openPath(`/company/personal/user/${id}/`);
                    }
                });
            });
        });
    </script>

</body>
</html>