<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Яндекс карта</title>
    <script src="https://api-maps.yandex.ru/v3/?apikey=fcff3592-2cc9-442e-ba8d-9fb3386b4d6f&lang=ru_RU"></script>
</head>
<body>
    <h1>Карта</h1>
    <div id="map" style="width: 800px; height: 600px; border: 1px solid black;"></div>
    <script>
        initMap();

        async function initMap() {
            // Промис `ymaps3.ready` будет зарезолвлен, когда загрузятся все компоненты основного модуля API
            await ymaps3.ready;

            const {YMap, YMapDefaultSchemeLayer} = ymaps3;

            // Иницилиазируем карту
            const map = new YMap(
                // Передаём ссылку на HTMLElement контейнера
                document.getElementById('map'),

                // Передаём параметры инициализации карты
                {
                    location: {
                        // Координаты центра карты
                        center: [37.588144, 55.733842],

                        // Уровень масштабирования
                        zoom: 10
                    }
                }
            );

            // Добавляем слой для отображения схематической карты
            map.addChild(new YMapDefaultSchemeLayer());
        }

    </script>
</body>
</html>